Source/ProspectingProject/Service References/ProspectingUserAuthService/SeeffProspectingAuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SeeffProspectingAuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SeeffProspectingAuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProspectingUserAuthPacket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="AvailableCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessUnitUsers" nillable="true" type="tns:ArrayOfProspectingUserAuthPacket" />
      <xs:element minOccurs="0" name="CommunicationEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsProspectingManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManagerDetails" nillable="true" type="tns:ArrayOfProspectingUserAuthPacket" />
      <xs:element minOccurs="0" name="PermissionLevelLists" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationId" type="xs:int" />
      <xs:element minOccurs="0" name="SuburbsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrustLookupsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSurname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProspectingUserAuthPacket" nillable="true" type="tns:ProspectingUserAuthPacket" />
  <xs:complexType name="ArrayOfProspectingUserAuthPacket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProspectingUserAuthPacket" nillable="true" type="tns:ProspectingUserAuthPacket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProspectingUserAuthPacket" nillable="true" type="tns:ArrayOfProspectingUserAuthPacket" />
  <xs:complexType name="SpatialUserAuthPacket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketShareSuburbsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProspectingSuburbsList" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpatialUserAuthPacket" nillable="true" type="tns:SpatialUserAuthPacket" />
  <xs:complexType name="MarketShareUserAuthPacket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaPermissionsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketShareUserAuthPacket" nillable="true" type="tns:MarketShareUserAuthPacket" />
</xs:schema>