Source/ProspectingProject/Service References/ProspectingUserAuthService/SeeffProspectingAuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SeeffProspectingAuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SeeffProspectingAuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProspectingUserAuthPacket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="AvailableCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="SuburbsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProspectingUserAuthPacket" nillable="true" type="tns:ProspectingUserAuthPacket" />
</xs:schema>