Source/ProspectingProject/Service References/ProspectingUserAuthService/SeeffProspectingAuthService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeeffProspectingAuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://41.222.226.213/SeeffProspectingAuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://41.222.226.213/SeeffProspectingAuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://41.222.226.213/SeeffProspectingAuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SeeffProspectingAuthService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeeffProspectingAuthService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="ISeeffProspectingAuthService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeeffProspectingAuthService_TakeOneCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeOneCredit" />
  </wsdl:message>
  <wsdl:message name="ISeeffProspectingAuthService_TakeOneCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeOneCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ISeeffProspectingAuthService_ReimburseOneCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:ReimburseOneCredit" />
  </wsdl:message>
  <wsdl:message name="ISeeffProspectingAuthService_ReimburseOneCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReimburseOneCreditResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeeffProspectingAuthService">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/GetUserInfo" message="tns:ISeeffProspectingAuthService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/GetUserInfoResponse" message="tns:ISeeffProspectingAuthService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeOneCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/TakeOneCredit" message="tns:ISeeffProspectingAuthService_TakeOneCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/TakeOneCreditResponse" message="tns:ISeeffProspectingAuthService_TakeOneCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReimburseOneCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/ReimburseOneCredit" message="tns:ISeeffProspectingAuthService_ReimburseOneCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeeffProspectingAuthService/ReimburseOneCreditResponse" message="tns:ISeeffProspectingAuthService_ReimburseOneCredit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeeffProspectingAuthService" type="tns:ISeeffProspectingAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/ISeeffProspectingAuthService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeOneCredit">
      <soap:operation soapAction="http://tempuri.org/ISeeffProspectingAuthService/TakeOneCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReimburseOneCredit">
      <soap:operation soapAction="http://tempuri.org/ISeeffProspectingAuthService/ReimburseOneCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeeffProspectingAuthService">
    <wsdl:port name="BasicHttpBinding_ISeeffProspectingAuthService" binding="tns:BasicHttpBinding_ISeeffProspectingAuthService">
      <soap:address location="http://41.222.226.213/SeeffProspectingAuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>