Source/ProspectingProject/Service References/DracoreETLConsumerService/ConsumerService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETL.WebServices.BusinessLogic.EnquiryEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETL.WebServices.BusinessLogic.EnquiryEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ConsumerAddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Physical" />
      <xs:enumeration value="Postal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsumerAddressType" nillable="true" type="tns:ConsumerAddressType" />
  <xs:simpleType name="ConsumerTelephoneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Home" />
      <xs:enumeration value="Work" />
      <xs:enumeration value="Cellular" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsumerTelephoneType" nillable="true" type="tns:ConsumerTelephoneType" />
  <xs:simpleType name="EnquiryResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exception" />
      <xs:enumeration value="NoMatch" />
      <xs:enumeration value="Match" />
      <xs:enumeration value="MultipleResults" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnquiryResultType" nillable="true" type="tns:EnquiryResultType" />
</xs:schema>