Source/ProspectingProject/Service References/DracoreETLConsumerService/ConsumerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://data.dracore.co.za/WebServices/EnquiryServices/ConsumerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://data.dracore.co.za/WebServices/EnquiryServices/ConsumerService.svc?xsd=xsd5" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LoginResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiryByIdNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q3:guid" />
        <xs:element minOccurs="0" name="idnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiryByIdNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsumerEnquiryByIdNoResult" nillable="true" type="ConsumerEnquiryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q4:guid" />
        <xs:element minOccurs="0" name="identityNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstNames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salutation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="physicalAddressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="physicalAddressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="physicalAddressLine3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="physicalAddressLine4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="physicalAddressPostalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalAddressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalAddressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalAddressLine3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalAddressLine4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalAddressPostalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="homeTelephoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workTelephoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellularTelephoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsumerEnquiryResult" nillable="true" type="ConsumerEnquiryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiryByConsumerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q5:guid" />
        <xs:element minOccurs="0" name="consumerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumerEnquiryByConsumerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsumerEnquiryByConsumerIDResult" nillable="true" type="ConsumerEnquiryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConsumerLinksByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q6:guid" />
        <xs:element minOccurs="0" name="addressID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConsumerLinksByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveConsumerLinksByAddressResult" nillable="true" type="ArrayOfConsumerTraceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConsumerLinksByTelephone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q7:guid" />
        <xs:element minOccurs="0" name="telephoneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConsumerLinksByTelephoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveConsumerLinksByTelephoneResult" nillable="true" type="ArrayOfConsumerTraceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectorEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q8:guid" />
        <xs:element minOccurs="0" name="identityNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstinitial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondinitial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateofbirth" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectorEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectorEnquiryResult" nillable="true" type="ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q9:guid" />
        <xs:element minOccurs="0" name="registrationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vatNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessEnquiryResult" nillable="true" type="ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessEnquiryByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="securitytoken" type="q10:guid" />
        <xs:element minOccurs="0" name="company_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessEnquiryByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessEnquiryByCompanyIDResult" nillable="true" type="CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CleanAddressResult" nillable="true" type="AddressInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>