Source/ProspectingProject/Service References/DracoreETLConsumerService/ConsumerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETL.Common.WCF.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETL.Common.WCF.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseExceptionFault" nillable="true" type="tns:BaseExceptionFault" />
</xs:schema>