Source/ProspectingProject/Service References/DracoreETLConsumerService/DracoreDataService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.dracorelive.co.za/DracoreDataService/DracoreDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DC.Models" />
  <xs:element name="SearchCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DC.Models" minOccurs="0" name="token" nillable="true" type="q1:Token" />
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="registrationNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DC.Models" minOccurs="0" name="SearchCompaniesResult" nillable="true" type="q2:CompanySearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>